<h1>Welcome !!!</h1>
<p>this is my single-page application, built by <em> Robert Rodriguez</em></p>
 
<form>
    <label>Search By Id:</label><input name="search" #id>

    <button (click)="getById(id)" >Search</button>
</form> 

<h1 *ngIf="loader">
    <div class="col-md-12 text-center">
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
    </div>
</h1>

<table class='table' *ngIf="employees && !loader">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>ContractTypeName</th>
        <th>Role Name</th>
        <th>Annual Salary</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of employees">
        <td>{{ employee.id }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.contractTypeName }}</td>
        <td>{{ employee.roleName }}</td>
        <td>{{ employee.annualSalary }}</td>
    </tr>
    </tbody>
</table> 
